.main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 450px;
}
.main .main-info {
  max-width: 500px;
  margin-left: 2rem;
}
.main .main-info h1 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
  width: 100%;
}
.main .main-info p {
  max-width: 400px;
  line-height: 25px;
}

.main .main-info .main-register {
  background: #4338ca;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.6rem;
  margin-right: 1rem;
  font-weight: bold;
  margin-top: 1.2rem;
  width: 10rem;
  letter-spacing: 1px;
}
@media screen and (max-width: 900px) {
  .main .main-lottie {
    display: none;
  }
  .main .main-info {
    margin-top: 2rem;
  }
  .main .main-info .main-register {
    width: 90%;
    margin-top: 2rem;
  }
  .main .main-info h1 {
    font-size: 1.8rem;
  }
  .main .main-info p {
    width: 300px;
    line-height: 26px;
  }
}
