@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Righteous&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
input:focus {
  outline: none !important;
}
.body {
  background: #f8fafc;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Righteous", cursive;
}
p,
a,
button,
span {
  font-family: "Open Sans", sans-serif;
}
