.banner {
  display: flex;
  flex-direction: column;
  height: 520px;
  background: #f1f5f9;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow-x: scroll;
}
.banner h1 {
  font-size: 1.8rem;
}
.banner section {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  justify-content: center;
}
.banner section::-webkit-scrollbar {
  display: none;
}

.banner section {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.banner .category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0rem 1rem;
  font-weight: bold;
  color: #4338ca;
  margin-top: 0.5rem;
  font-size: 1.1rem;
  width: 100%;
}

.banner .banner-icon {
  font-size: 1.4rem;
  color: #0f172a;
  margin-left: 0.5rem;
}
.banner-card {
  background: white;
  width: 100%;
  height: 250px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 10px;
  overflow-y: scroll;
}
.banner-card .banner-card-p {
  color: #0f172a;
  font-size: 0.8rem;
}
.banner .article {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;
  width: 100%;
}
.banner .banner-card h4 {
  color: #0f172a;
  font-size: 0.8rem;
}
.banner .banner-card h5 {
  font-size: 0.7rem;
  color: #0f172a;
  font-weight: 100;
}
.banner .banner-card p {
  color: #0f172a;
  font-size: 0.7rem;
}
.banner .banner-card button,
a {
  background: transparent;
  border: none;
  border-radius: 5px;
  color: #4338ca;
  font-size: 0.6em;
}
.banner .banner-card .item {
  margin-top: 1rem;
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner .banner-card .item h4,
h5,
p {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .banner section {
    justify-content: start;
  }
}
